rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    
    // Work Sites Collection
    match /sites/{siteId} {
      allow read, write: if true;
    }

    // Corporate Announcements Collection
    match /announcements/{announcementId} {
      allow read, write: if true;
    }

    // Employee Database Collection
    match /employees/{employeeDocId} {
      allow read, write: if true;
    }

    // Auth Users Collection
    match /users/{userId} {
      allow read, write: if true;
    }

    // Secure Login Audit History Collection
    match /loginHistory/{historyId} {
      allow read, write: if true;
    }
  }
}
